<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragment/header.html :: fragment-header"></div>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<!--헤더-네비게이션-->
<div th:replace="/fragment/navi.html :: fragment-nav"></div>
<!--바디 내용-->

<div class="container">

    <h1>Post 페이지</h1>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>검색</label>
            <div class="form-inline">
                <form action="/admin/posts/search.do" method="get">
                    <select name="searchType" >
                        <option th:each="searchType : ${T(com.example.climblabs.global.utils.common.SearchType).values()}"
                                th:value="${searchType}"
                                th:text="${searchType.getTypeValue()}"
                                th:selected="${searchType == params.paginationInfo.getCriteria().getSearchType()}"
                        ></option>
                    </select>
                    <input class="form-control mr-sm-2" th:name="searchValue"
                           th:value="${params.paginationInfo.getCriteria().getSearchValue()}" type="search"
                           placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="form-group col-md-6">
            <form action="/admin/posts/create.do" method="get">
                <button class="btn btn-primary float-right" type="submit">게시물 생성</button>
                <!--            <button class="btn btn-primary my-2 my-sm-0 float-right" type="submit">게시물 생성</button>-->
            </form>
        </div>
    </div>

    <div class="row">

        <div th:each="post, stat : ${posts}" class="col-sm-4">
            <div class="card mb-4">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}">Post title</h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${post.climbingTitle}">Post subtitle</h6>
                    <p class="card-text" th:text="${post.address}">Post price</p>
                </div>
                <a th:href="'/admin/posts/update.do?id=' + ${post.id}" class="btn btn-primary">수정</a>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="paging">
    <nav th:replace="fragment/pagination/pagination_number.html :: pagination"></nav>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        function movePage(uri, queryString) {
            location.href = uri + queryString;
        }

        /*]]>*/
    </script>
</th:block>

<!--푸터-->
<footer th:replace="/fragment/footer.html :: fragment-footer"/>
</body>
</html>